---
import Footer from '../../layouts/Footer.astro';
import About from './About.astro';
import Hero from './Hero.astro';
import Experience from './Experience.astro';
import Education from './Education.astro';
import Skills from './Skills.astro';
import Contact from './Contact.astro';
import ChatSection from './ChatSection.astro';
---

<div id="container">
  <main>
    <Hero />
    <About />
    <Experience />
    <Education />
    <Skills />
    <ChatSection />
    <Contact />
  </main>
  <Footer />
</div>

<style>
  #container {
    font-family: var(--font-body);
  }

  main {
    background-color: var(--bg);
  }
</style>
